@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

*{
    margin: 0;
    pad: 0;
    box-sizing: border-box;
    
    font-family: 'Public Sans', sans-serif;
}
html,body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.app{
    display: flex;
    height: 100vh;
    width: 100vw;
}
/* -----------------------Vertical Navigation------------------ */

.vnav{
   
    height: 100vh;
    width: 26%;
}
.com_logo{
    margin-top: 14%;
    margin-left: 9%;
    width: 68%;
}
.vnavigation{
    margin-top: 24%;
    margin-left: 5%;
}
.general{
    font-size: 13.6px;
    font-weight: 700;
    color:#637381;
    
}
.ullist{
    margin-top: 9%;
 
}
.ullist a{
    text-decoration: none;
    color: #637381;
   
    
}
.list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 95%;
    gap:55px;
    margin-top:8% ;
    padding: 2%;
    border-radius: 10px;
   
}
/* .one{
    background-color: #3366FF14;
    border-radius: 10px;
    padding: 10px;
} */
.icon{
    width: 230px;
    display: flex;
    align-items: center;
    
}

 
/* ----------horixontal navbar---------------------- */
.hnav{
    width: 100vw;
    height: 100vh;
}
.hnav1{
  width: 78%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    position: fixed;
    top:30px;
    left: 325px;
    padding: 8px 40px 8px 40px;
    gap: 150px;
 background-color: white;
}
.hnav_div{
    width:36px ;
    height:36px ;
   
    /* gap: 20px; */
}

.hnav_icons ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 8px;
}
.hnav_icons{
    padding-right: 10px;
}
/*--------------------- Dashboard -----------------*/
.dashboard{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 99px;
    left: 310px;
    width: 73%;
    

}
.dashboard h2{
    width: 188px;
    height: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Public Sans', sans-serif;
    color: #212B36;
    
}
.ds_link{
    display: flex;
    width: 250px;
    /* height: 48px; */
    position: inherit;
    top: 28px;
   left: 2px;
   padding: 13px 0 12px 0;
   gap: 22px;
}
.blur{
    color: #637381;
}
.ds_link a{
width: 200px;
height: 48px;
padding: 13px 0px 12 0;
text-decoration: none;
}
/*------------- mian1------------- */
.main{
    margin-top: 38px;
    display: flex;
   /* position: absolute; */
   /* top: 70px;
   left: 39px; */
   width: 100%;
 
   height: 8rem;                            /*  ------- */
  
}

.underline{
    margin-top: 6px;
    width: 83px;
    border: 1px solid green;
}
.und a{
    color: black;
}
.performance{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    width: 50%;
    /* border: 2px solid pink; */
}
.key{
    /* width: 201px; */
    height: 24px;

    padding: 10px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    /* line-height: 24px; */
    color: #212B36 ;
}
.frame1{
    display: flex;
    border: 1px solid #F4F6F8;
    height: 135px;
    width: 100%;
    /* border: 2px solid #36B37E; */
}
.subframe{
   display: flex;
   width: 33.33%;
   /* border: 2px solid rebeccapurple; */
   height: 100%;
   padding-top: 25px;
  gap: 10px;
   
}
.percentage{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: start;
    
}
.client{
    width: 170px;
    height: 24px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    /* line-height: 24px; */
    color:  #454F5B;
    
}
.per{
    width: 59px;
    height: 31px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 30.67px;
    color: #091A7A;
    
}
.per1{
    /* width: 59px; */
    height: 31px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 30.67px;
    color:#006C9C; 
}
.per2{
    width: 59px;
    
    height: 31px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 30.67px;
    color:  #006124;
}
.border{
    border-left: 3px solid  #091A7A;
    height: 63px;
}
.border1{
    border-left: 3px solid  #006C9C;
    height: 63px;
}
.border2{
    border-left: 3px solid #006124;
    height: 63px;
}
.c_status{
    width: 30%;
    /* border: 2px solid greenyellow; */
    /* height: 179px; */
   
    display: flex;
    flex-direction: column;
}
.c_states1{
    display: flex;
    /* height: 135px; */
    padding-top: 25px;
    /* gap:3px; */
    columns: #F4F6F8;
    color:  #454F5B;

}
.border3{
    border-left: 3px solid  #091A7A;
    height: 63px;
}
.border4{
    border-left: 3px solid  #006124;
    height: 63px;
}
.border5{
    border-left: 3px solid  #006C9C;
    height: 63px;
}
.border_container{
    /* border: 2px solid saddlebrown; */
    display: flex;
    align-items: start;
    justify-content: center;
    width: 33.33%;
    /* height: 63px; */
    padding: 0 36px 0 31px;
    gap:10px;
    /* margin: 8px; */
}
.perc{
    display: flex;
    flex-direction: column;
    /* justify-content: baseline;
    align-items: start; */
}
.total{
    font-size: 14px;
    width: 38px;
    height: 24px;
    font-weight: 600;
    line-height: 24px;
    color: #454F5B;
}
.loper{
width: 33px;
height: 31px;
font-weight: 600;
font-size: 16px;
line-height: 30px;
columns: #091A7A;
}
.last{
    display: flex;
}
.bar{
    width: 95%;
    height: 14px;
    border: 1px solid blue;
    border-radius: 10px;
    background-color: #1939B7;
  
    
}
.bar2{
    width: 40%;
    height: 14px;
    border: 1px solid #36B37E;
    border-radius: 9px;
    background-color: #36B37E;
    
}
.all{
    width: 100%;
    height: 135px;
    border: 1px solid #F4F6F8;
    border-radius: 16px;
    margin-top: 22px;

}
/* ------------------BarChart------------------------------------- */
.performance1{
    position: absolute;
    /* border: 2px solid rebeccapurple; */
    left: 799px;
    width: 33.33%;
    /* height: 179px; */
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}
.all{
    width: 100%;
}
.last{
    width: 100%;
    gap: 10px;
}

.perUser{
    /* position: absolute; */
    width: 100%;
    height: 40px;
    /* border: 2px solid green; */
    top: 24px;
    left: 12px;
    gap: 5px;
    
}
/* .perUser{
    width: 140px;
   
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color:#000000 ;
} */
.circle1{
    display: block;
    width: 18px;
    height: 18px;
    font-size: 2px;
    /* border: 18px solid black; */
    border-radius: 50%;
    background-color:#1939B7 ;
}
.circle2{
    display: block;
    width: 18px;
    height: 18px;
    /* border: 18px solid black; */
    border-radius: 50%;
    background-color:#1939B7 ;
}
.perUser{
    display: flex;
    font-size: 14px;
    /* flex-direction: column; */
}

/* ------------------main2--------------------------------- */
.main2{
    position: inherit;
    top: 200px;
    width: 77.2vw;
   

    display: flex;
}
.main2_p1 p{
    width: 70%;
    height: 44px;
    padding: 10px 10px 10px 36px;
    gap: 10px;
    font-weight: 600;
    size: 1rem;
    line-height: 24px;
    color: #212B36;
  
}
.main2_p1{
    width: 70%;
  
    
   
}
/* .main2_p2{
    width: 40%;
    margin-left: 155px;
} */
.pie-img{
    width: 400px;
    height:370px;
}
 .inputs{
    display: flex;
    width: 100%;
    /* padding:24px 20px 24px 20px; */
    margin-left: 25px;
    margin-top: 12px;
    gap:16px
}
 .inputs input{
    width: 70%;
    border-radius: 8px;
    gap: 8px;
} 

.inputs p{ 
    position: absolute;
    left: 130px;
    top: 45px;

}
.in{
    padding-left: 40px ;
    border: 1px solid #919EAB52;
    
}
.company{
    width: 100%;
    height: 56px;
    margin-top: 18px;
}
th{
    color:#637381;
    font-size: 10px;
}
.th1{
    width: 35%;

}

.th2{
    width: 15%;
}
.th3{
    width: 15%;
}
.th4{
    width: 10%;
}
.th5{
    width: 15%;
}
.th6{
    width: 10%;
}
.flex{
    display: flex;
    /* justify-content: baseline; */
}
.flex img{
    margin-top: 10px;
}
.flex img{
    width: 30px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 100px;
    /* gap: 16px; */
}
.flex2{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    margin-left: -20px;
    
}
.subfont{
    font-size: 12px;
}
.flex2 span{
    color:#637381 ;
    font-size: 12;
    font-weight: 400;
    
}
.flex2 p{
    
    font-size: 12px;
    
    color: #212B36;
    font-weight: 600;
}
.trr{
    gap: 55px;
}
.tdd{
    font-size: 12px;
    color:#212B36;
    font-weight: 400; 
}
.pieChart{
   margin-top: 22px;
   margin-left: 0px; 

}
